<h2>Tag patterns as <%= @style.id %></h2>
<p>Pattern IDs to be tagged: <%= @pattern_ids %>



</header>




<section class="tag">
	
	<form method="POST">
	
	<% @patterns.each_with_index do | pattern, index | %>
	<article class='pattern'>
	  <details>
	    <summary><%= pattern.display_name %></summary>
	    <p><%= pattern.description %></p>
	    <p><a href="<%= pattern.url %>">View this pattern on the <%= pattern.pattern_company.name %> website</a></p>
	  </details>
	  <div class="patternImages">
	    <% if pattern.line_drawing != pattern.main_image %>
	      
	        <img class="lazy" data-original="<%= pattern.main_image %>">
	
	        <img class="lazy" data-original="<%= pattern.line_drawing %>">
	    <% else %>
	        <img class="fullWidth" src="<%= pattern.main_image %>">
	     
		 
		 
	    <% end %>
		
		<!-- if there is a row where the combination of pattern id and <%= @style %> exist already, mark as 'checked' 
		do any of the items in this list, have style id as a value of id
			any? -->

		<% if pattern.has_style?(@style) %>
			
		<input type="checkbox" id="check" name="pattern_ids[]" value="<%= pattern.id %>" checked="checked">
		
		<% else %>
		<input type="checkbox" id="check" name="pattern_ids[]" value="<%= pattern.id %>">
		
		<% end %>
		<label for="check">Tag it!</label>
		
	  </div>
	</article>
	<% end %>
	
	<input type="hidden" value="<%= @style.id %>" id="style">
	<input type="submit" value="Tag patterns">
</form>
</section>