<% Pattern.all.each do | pattern | %>
<div class='pattern'>
  <h2><%= pattern.display_name %></h2>
  <p><%= pattern.description %></p>
  <img src="<%= pattern.main_image %>">
  <img src="<%= pattern.line_drawing %>">
  <a href="<%= pattern.url %>">More info</a>
</div>
<% end %>