<% @patterns.each do | pattern | %>
<article class='pattern'>
  <details>
    <summary><%= pattern.display_name %></summary>
    <p><%= pattern.description %></p>
    <p><a href="<%= pattern.url %>">Buy pattern</a></p>
  </details>
  <img src="<%= pattern.main_image %>">
  <img src="<%= pattern.line_drawing %>">
</article>
<% end %>